/* Common styles */

.citrusAdSEBPO .section-title {
  display: block;
  text-align: center;
  padding: 50px 15px;
}

.citrusAdSEBPO .section-title h2 {
  font-family: "PetcoCircularTT-Bold", arial !important;
  font-size: 25px;
  font-weight: 700;
  color: #000000;
  padding: 0 0 25px;
  margin: 0;
}

.citrusAdSEBPO .section-title p {
  font-family: "PetcoCircularTT-Regular", arial !important;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  padding: 0;
  margin: 0;
}

.citrusAdSEBPOTabId {
  width: 100%;
  overflow-x: auto;
}

.citrusAdSEBPO__tab-area {
  overflow: hidden;
  max-width: 1253px;
  width: 100%;
  margin: 0 auto;
}

.citrusAdSEBPO__tab-section-title{
  text-align: center;
}
.citrusAdSEBPO__tab-section-title h2{
  font-family: "PetcoCircularTT-Bold", arial !important;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  padding: 0 25px;
  margin-top: 30px;
}
.citrusAdSEBPO__tab-section-title p{
  font-family: "PetcoCircularTT-Regular", arial !important;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  padding: 10px;
  margin: 0;
}
.citrusAdSEBPO__tab-container {
  width: 100%;
  margin: 0 auto;
}

.splide__pagination {
  display: none;
}

.citrusAdSEBPO__Product {
  display: none;
}

.citrusAdSEBPO__Product img {
  object-fit: contain;
}

.citrusAdSEBPO-tab-card a {
  text-align: left;
}

.citrusAdSEBPO-tab-cardImg img {
  max-width: 100%;
  max-height: 175px;
}

.citrusAdSEBPO-tab-card > a {
  text-decoration: none;
  color: #000;
}

.citrusAdSEBPO-tab-card p {
  font-family: "PetcoCircularTT-Regular", arial !important;
  color: #333333;
  font-size: 16px;
  line-height: 20px;
  margin: 20px 0 10px;
  text-decoration: none;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4em;
  display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.citrusAdSEBPO__Product .citrusAdSEBPO-tab-cardBody h4 {
  font-family: "PetcoCircularTT-Bold", arial !important;
  font-size: 20px;
  margin: 0;
  padding: 30px 0 10px;
  min-height: 40px;
}

.citrusAdSEBPO__productCTA {
  border: 0;
  padding: 5px 0 0;
  background: none;
  text-decoration: underline;
  font-family: "PetcoCircularTT-Bold", arial !important;
  color: #001952;
  font-size: 16px;
  line-height: 22px;
  font-weight: 900;
  cursor: pointer;
}

.groupCtaDimention {
  display: flex;
  flex-direction: column;
  font-weight: 900;
}

.groupCtaDimention p {
  line-height: 18px;
  font-family: "PetcoCircularTT-Bold", arial !important;
  color: #001952;
  margin-top: 0;
  text-decoration: underline;
  font-weight: 700;
}

.citrusAdSEBPO_groupProductCTA {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 20px;
  margin: auto;
}

.groupCtaArrow p {
  font-size: 36px !important;
  margin-top: 0;
}

.citrusAdSEBPO__Products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}

.citrusAdSEBPO-tab-cardImg {
  padding: 0 10px;
  margin: auto;
  margin: 0 auto 10px;
}

.citrusTabShow {
  display: block;
}

.citrusAdSEBPO__groupProductShot__item a{
  padding: 20px 0 0;
}

.citrusAdSEBPO__groupProductShot {
  border: 1px solid #001952;
  border-radius: 10px;
  text-decoration: none;
  max-height: 300px;
}

.citrusAdSEBPO__groupProductShot__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.citrusAdSEBPO__groupProductShotImage img {
  max-height: 144px;
  padding: 20px 0;
}

.citrusAdSEBPO_groupProductCTA {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 20px;
  margin: auto;
  padding: 0;
}

.groupCtaDimention {
  display: flex;
  flex-direction: column;
  font-weight: 900;
}

.groupCtaDimention p {
  line-height: 18px;
  font-family: "PetcoCircularTT-Bold", arial !important;
  color: #001952;
  margin-top: 0;
  text-decoration: underline;
  text-align: left;
}

.groupCtaArrow p {
  font-size: 34px;
  margin-top: 0;
}

.citrusAdSEBPO__tab_item {
  text-transform: uppercase;
  padding: 12px 20px;
  margin: 0px 10px;
  font-size: 14px;
  text-decoration: none;
  background-color: transparent;
  border: none;
  border-bottom: 10px solid transparent;
  cursor: pointer;
  color: #9b9b9b;
  font-family: "PetcoCircularTT-Bold", arial !important;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.citrusAdSEBPO__tab_type_item {
  margin: 0px 5px;
  width: 195px;
  height: 35px;
  border: none;
  border-radius: 20px;
  font-size: 13.5px;
  font-family: "PetcoCircularTT-Regular", arial !important;
  font-style: normal;
  cursor: pointer;
  fill: #F0F0F0;
  line-height: normal;
  font-weight: 450;
  color: #00205B;
}

.citrusAdSEBPO__tab_item img {
  max-width: 50px;
  margin: 0 auto;
}

.citrusAdSEBPO__tab_item.citrusAdSEBPO__active_tab {
  color: #001952;
  border-bottom: 10px solid #001952;
  border-radius: 0;
}

.citrusAdSEBPO__tab_type_item.citrusAdSEBPO__active_tab_type {
  color: white;
  background: #001952;
  font-weight: 700;
  font-family: "PetcoCircularTT-Bold", arial !important;
}

.citrusAdSEBPOTabId {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: 1px solid #021b4e;
}

.citrusAdSEBPOTabTypeId {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
}
/* custom css */
.splide__arrow:disabled {
  opacity: 0;
}