/*
 * Legal Disclaimer
 *
 * These web fonts are licensed exclusively for use on the following:
 * All domains belonging to Petco
 *
 * It is strictly forbidden to download or use these fonts on any other website domain or media.
 *
 * While the @font-face statements below may be modified by the client, this
 * disclaimer may not be removed.
 *
 * Lineto.com, 2020
 */

 @font-face {
    font-family: PetcoCircularTT-Regular;
    src: url(fonts/PetcoCircularTT-Regular.woff2) format("woff2"),
      url(fonts/PetcoCircularTT-Regular.woff) format("woff");
  }
  
  @font-face {
    font-family: PetcoCircularTT-Bold;
    src: url(fonts/PetcoCircularTT-Bold.woff2) format("woff2"),
      url(fonts/PetcoCircularTT-Bold.woff) format("woff");
  }
  
  /*Default css*/
  body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .citrusAdSEBPO .custom-container {
    max-width: 1277px;
    width: 100%;
    margin: 0 auto;
    display: block !important;
  }
  
  .citrusAdSEBPO {
    overflow: hidden !important;
  }
  
  /* Refresh POV */
  .citrus-instinct-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }
  
  .citrusAdSEBPO__pov {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 1440px;
    margin: 0 auto 30px auto;
  }
  
  .citrusAdSEBPO__pov .citrusAdSEBPO__pov-carousel {
    position: relative;
    display: flex;
    overflow: hidden;
  }
  
  .citrusAdSEBPO__pov
    .citrusAdSEBPO__pov-carousel
    .citrusAdSEBPO__pov-carousel__inner {
    display: flex;
    transition: all ease 0.5s;
  }
  
  .citrusAdSEBPO__pov
    .citrusAdSEBPO__pov-carousel
    .citrusAdSEBPO__pov-carousel__inner
    .pov2 {
    color: #fff;
  }
  
  .citrusAdSEBPO__pov
    .citrusAdSEBPO__pov-carousel
    .citrusAdSEBPO__pov-carousel__inner--item {
    width: 100%;
  }
  
  .citrusAdSEBPO__pov
    .citrusAdSEBPO__pov-carousel
    .citrusAdSEBPO__pov-carousel__inner--item
    .content-wrapper {
    z-index: 999;
    text-align: left;
    align-items: flex-start;
    min-height: 376px;
  }
  
  .citrusAdSEBPO__pov
    .citrusAdSEBPO__pov-carousel
    .citrusAdSEBPO__pov-carousel__inner--item
    .content-wrapper__pov-img {
    position: absolute;
    z-index: -1;
  }
  
  .citrusAdSEBPO__pov
    .citrusAdSEBPO__pov-carousel
    .citrusAdSEBPO__pov-carousel__inner--item
    .content-wrapper__pov-img
    img {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .citrusAdSEBPO__pov
    .citrusAdSEBPO__pov-carousel
    .citrusAdSEBPO__pov-carousel__inner--item
    .content-wrapper__logo {
    width: 100%;
    /* padding: 10px 0 0; */
  }
  
  .citrusAdSEBPO__pov
    .citrusAdSEBPO__pov-carousel
    .citrusAdSEBPO__pov-carousel__inner--item
    .content-wrapper__logo
    img {
    max-width: 130px;
    margin: 0 auto;
  }
  
  .citrusAdSEBPO__pov
    .citrusAdSEBPO__pov-carousel
    .citrusAdSEBPO__pov-carousel__inner--item
    .content-wrapper__title
    h1 {
    color: #ffffff;
    font-size: 25px;
    line-height: 30px;
    font-family: "PetcoCircularTT-Bold", arial !important;
    font-weight: bold;
    display: block;
    margin: 0;
  }
  
  .citrusAdSEBPO__pov
    .citrusAdSEBPO__pov-carousel
    .citrusAdSEBPO__pov-carousel__inner--item
    .content-wrapper__title
    .sup-script {
    display: contents;
  }
  
  .citrusAdSEBPO__pov
    .citrusAdSEBPO__pov-carousel
    .citrusAdSEBPO__pov-carousel__inner--item
    .content-wrapper__title
    .sup-script
    sup {
    margin: 0 0 0 3px;
  }
  
  .citrusAdSEBPO__pov
    .citrusAdSEBPO__pov-carousel
    .citrusAdSEBPO__pov-carousel__inner--item
    .content-wrapper__title
    sup {
    font-size: 16px;
    vertical-align: revert;
    margin: 0 0 0 2px;
  }
  
 
  .citrusAdSEBPO__pov
    .citrusAdSEBPO__pov-carousel
    .citrusAdSEBPO__pov-carousel__inner--item
    .content-wrapper
    .pov2-flawk
    img {
    width: 35px;
  }
  
  .citrusAdSEBPO__pov
    .citrusAdSEBPO__pov-carousel
    .citrusAdSEBPO__pov-carousel__inner
    .pov2
    .content-wrapper__title,
  .citrusAdSEBPO__pov
    .citrusAdSEBPO__pov-carousel
    .citrusAdSEBPO__pov-carousel__inner
    .pov2
    .content-wrapper__sub-title {
    color: #fff;
  }
  
  .citrusAdSEBPO__pov
    .citrusAdSEBPO__pov-carousel
    .citrusAdSEBPO__pov-carousel__inner
    .pov2
    .content-wrapper__cta
    a:hover {
    background: #001952;
    color: #fff;
  }

  .citrusAdSEBPO__pov
    .citrusAdSEBPO__pov-carousel
    .citrusAdSEBPO__pov-carousel__inner--item
    .content-wrapper__sub-title
    p {
    color: #ffffff;
    font-size: 18px;
    font-family: "PetcoCircularTT-Regular", arial !important;
    font-weight: 400;
    line-height: initial;
    max-width: 640px;
  }
  
  .citrusAdSEBPO__pov
    .citrusAdSEBPO__pov-carousel
    .citrusAdSEBPO__pov-carousel__inner--item
    .content-wrapper__cta {
    width: 100%;
    padding-bottom: 25px;
  }
  
  .citrusAdSEBPO__pov
    .citrusAdSEBPO__pov-carousel
    .citrusAdSEBPO__pov-carousel__inner--item
    .content-wrapper__cta
    a {
    background: #fff;    
    display: inline-block;
    margin: 0px 20px;
    font-family: "PetcoCircularTT-Bold", arial !important;
    padding: 15px 39px 15px 39px;
    border-radius: 5px;
    color: #001952;    
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
  }
  
  .citrusAdSEBPO__pov
    .citrusAdSEBPO__pov-carousel
    .citrusAdSEBPO__pov-carousel__inner--item
    .content-wrapper__cta
    a:hover {
    color: #fff;
    background: #001952;
  }
  
  .citrusAdSEBPO_carousel-indicators {
    width: 94px;
    list-style: none;
    text-align: center;
    left: calc(100% / 2 - 45px);
    background: rgba(255, 255, 255, 0.9);
    padding: 5px 0 5px;
    border-radius: 5px 5px 0 0;
    bottom: 0px;
    position: absolute;
    right: 0;
    z-index: 1;
  }
  
  .citrusAdSEBPO_carousel-indicators span {
    display: inline-block;
    cursor: pointer;
    margin: 3px 5px 0;
    font-size: 0;
    line-height: 0;
    width: 12px;
    height: 12px;
    cursor: pointer;
    color: transparent;
    outline: 0;
    background: transparent;
    border: 1px solid #00205b;
    border-radius: 50%;
    padding: 0;
  }
  
  .citrusAdSEBPO_carousel-indicators span.active {
    opacity: 1;
    background: #00205b;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transition: 0.5s ease-in;
    transform: scale(1);
  }
  
  /* End Refresh POV */

  .content-wrapper__pov-content--all{   
    flex-wrap: nowrap; 
    justify-content: flex-start;
    padding: 40px 30px;
  }
  .content-wrapper__pov-content--middle{
    max-width: 640px;
    padding-left: 30px;
  }
  .content-wrapper__cta a:first-child{
    margin-left: 0px!important;
  }
  /* POV End */

  /* End ScienceDiet CSS */

/* CTA Banner */
.citrusAdSEBPO__ctaBanner{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.citrusAdSEBPO__ctaBanner--content{
  justify-content: space-evenly;
}
.citrusAdSEBPO__ctaBanner--content .col{
  width: 50%;
  text-align: center;
}
.citrusAdSEBPO__ctaBanner--content_img{
  margin-bottom: -4px;
}
.citrusAdSEBPO__ctaBanner--content_img img{
  max-width: 100%;
}
.citrusAdSEBPO__ctaBanner--content_text{
  text-align: center;
}
.citrusAdSEBPO__ctaBanner--content_text-title{
  font-family: "PetcoCircularTT-Bold", arial !important;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  font-size: 18px;
  line-height: 20px;
  padding: 0px 10px;
}
.citrusAdSEBPO__ctaBanner--content_text-subtitle{
  font-family: "PetcoCircularTT-Regular", arial !important;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  padding: 0px 10px;
}


/* CTA Banner e */

/* refresh style */
.citrusAdSEBPO .flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.citrusAdSEBPO a {
  font-family: "PetcoCircularTT-Bold", arial !important;
  text-decoration: none;
}

.citrusAdSEBPO img {
  width: 100%;
}

.citrusAdSEBPO .sectionGap {
  padding-top: 55px;
}

.citrusAdSEBPO .cta-box {
  display: block;
  align-items: center;
}

.citrusAdSEBPO .cta-box a {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  background: #00205b;
  color: #fff;
  width: 211px;
  height: 54px;
  border-radius: 5px;
  border: 1px solid #00205b;
  margin: 0 auto;
}

.citrusAdSEBPO .cta-box a:hover {
  background: #fff;
  color: #00205b;
  transition: 0.5s ease-in;
}

.citrusAdSEBPO .cta-underline {
  color: #001952;
  font-size: 16px;
  font-family: "PetcoCircularTT-Bold", arial !important;
  font-weight: 700;
  text-decoration: underline;
  text-align: center;
  border: none;
  background: transparent;
}

/* Show hide class */
.m-hide {
  display: block;
}

.d-hide {
  display: none;
}

/* Hide all scrollbar */
.citrusAdSEBPO_banefits__content::-webkit-scrollbar {
  display: none;
}

.citrusAdSEBPO_banefits__content {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.citrusAdSEBPO__explore--content::-webkit-scrollbar {
  display: none;
}

.citrusAdSEBPO__explore--content {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hero POV */
.citrusAdSEBPO__pov-carousel__inner .content-wrapper__title,
.citrusAdSEBPO__pov-carousel__inner .content-wrapper__sub-title {
  width: 100%;
}

.citrusAdSEBPO__pov-carousel__inner .content-wrapper__sub-title {
  padding: 0px;
}

.citrusAdSEBPO__explore .content-wrapper {
  align-items: flex-start;
  justify-content: flex-start;
}

.citrusAdSEBPO__explore .content-wrapper a {
  display: block;
  text-align: center;
  padding: 0 20px;
  min-width: 177px;
}

.citrusAdSEBPO__explore .content-wrapper a img {
  max-width: 177px;
  width: 100%;
  height: auto;
  padding: 0 10px;
}

.citrusAdSEBPO__explore .content-wrapper a h4 {
  color: #011952;
  font-size: 16px;
  font-family: "PetcoCircularTT-Bold", arial !important;
  font-weight: 700;
  padding-top: 20px;
  margin: 0;
  min-height: 32px;
}

.citrusAdSEBPO__explore .content-wrapper a p {
  color: #011952;
  font-size: 16px;
  font-family: "PetcoCircularTT-Regular", arial !important;
  padding-top: 6px;
  margin: 0;
}

.citrusAdSEBPO__explore .content-wrapper a .cta-underline {
  padding: 20px 0;
}
/* CTA Banner one */
.citrusAdSEBPO__commonCTA button {
  font-family: "PetcoCircularTT-Bold", arial !important;
  font-size: 16px;
  font-weight: bold;
  color: #00205B;
  text-transform: uppercase;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 22px 60px 18px;
  cursor: pointer;
}
.citrusAdSEBPO__commonCTA button:hover {
  color: #fff;
  background-color: #00205B;
}
/* CTA Banner one e*/

/* Banefits section */
.citrusAdSEBPO_banefits {
  overflow-x: auto;
}

.citrusAdSEBPO_banefits__content {
  width: 100%;
  overflow-x: auto;
}
.citrusAdSEBPO .citrusAdSEBPO_banefits__wrapper {
  align-items: flex-start;
  justify-content: flex-start;
}

.citrusAdSEBPO .citrusAdSEBPO_banefits__wrapper--single-item {
  padding: 0 30px;
  margin: 0 auto;
  text-align: center;
  text-align: center;
  min-width: 150px;
}

.citrusAdSEBPO .citrusAdSEBPO_banefits__wrapper--single-item img {
  max-width: 150px;
  margin: 0 auto;
}

.citrusAdSEBPO .citrusAdSEBPO_banefits__wrapper--single-item p {
  padding: 25px 0;
  margin: 0 auto;
  font-family: "PetcoCircularTT-Bold", arial !important;
  font-size: 16px;
  font-weight: 700;
  color: #001952;
  text-align: center;
  max-width: 160px;
}

.citrusAdSEBPO .citrusAdSEBPO_banefits .section-title p {
  max-width: 465px;
  margin: 0 auto;
}

.citrusAdSEBPO .citrusAdSEBPO_banefits .cta-box {
  margin: 30px 0 50px;
}

.citrusAdSEBPO  .transition-number-content small sup{
  font-size: 10px;
  vertical-align: top;
  margin: 0 0 0 1px;
}

.citrusAdSEBPO  .transition-number-content h4 sup{
  font-size: 25px;
  vertical-align: top;
}

/* Product scroller */
.citrusAdSEBPO__tab-area .section-title h2 {
  padding: 0;
}
/* pov style add by imran */
.citrusAdSEBPO__pov
  .citrusAdSEBPO__pov-carousel
  .citrusAdSEBPO__pov-carousel__inner--item.pov2
  .content-wrapper__title
  h1,
.citrusAdSEBPO__pov
  .citrusAdSEBPO__pov-carousel
  .citrusAdSEBPO__pov-carousel__inner--item.pov2
  .content-wrapper__sub-title
  p {
  color: #fff;
}

/* faq section s */
.citrusAdSEBPO__faq_area{
  width: 100%;
  max-width: 1152px;
  margin: 40px auto 20px auto;
}
.citrusAdSEBPO__faq_content{
  align-items: flex-start;
  justify-content: space-around;
}
.citrusAdSEBPO__faq_content-left{
  max-width: 30%;
  flex-direction: column;
}
.citrusAdSEBPO__faq_content-left-col{
  margin: 5px 0px;
}

.citrusAdSEBPO__faq_content-left-col img{
  max-width: 100%;
}

.citrusAdSEBPO__faq_content-right{
  max-width: 63%;
}
.citrusAdSEBPO__faq_content-right-title{
  font-family: "PetcoCircularTT-Bold", arial !important;
  font-size: 24px;
  font-weight: 700;
  color: #001952;
  text-align: left;
  margin: 15px 0px;
}
.citrusAdSEBPO__faq_content-right-subTitle{
  font-size: 16px;
  font-family: "PetcoCircularTT-Regular", arial !important;
  color: #000000;
  margin-bottom: 30px;
}
.citrusAdSEBPO__faq_content-accordion{
  margin-bottom: 30px;
}
.citrusAdSEBPO__faq_accordion-item{
  padding: 10px 0px;
  border-top: 1px solid #000000;  
}
.citrusAdSEBPO__faq_accordion-item:nth-child(4){
  border-bottom: 1px solid #000000; 
}                                
.citrusAdSEBPO__faq_accordion-btn{  
  font-family: "PetcoCircularTT-Bold", arial !important;
  color: #001952;
  cursor: pointer;
  padding: 18px;
  width: 95%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  line-height: 18px;
  font-weight: 700;
  transition: 0.4s; 
}
.citrusAdSEBPO__faq_accordion-item-content{  
  display: none;                                                            
  padding: 0 18px;
  background-color: white;
  transition: max-height 0.2s ease-out;
}
.citrusAdSEBPO__faq_accordion-item-content p{
  margin: 0px 0px 30px 0px;
  font-family: "PetcoCircularTT-Regular", arial !important;
  font-size: 16px;
  line-height: 18px;
}                                
.citrusAdSEBPO__faq_accordion-item-content.citrusAdSEBPO__faq_accordion-item-show {
  display: block !important;
}
.citrusAdSEBPO__faq_accordion-btn:after {
  content: '\002B';
  color: #001952;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  font-size: 50px;
}
.citrusAdSEBPO__faq_accordion-btn-active:after {
  content: "\2212";
}
.citrusAdSEBPO__faq_cta button{
  margin-right: 20px;
  padding: 22px 30px 18px;
  background-color: #00205B;
  border: 1px solid #00205B;
  color: #ffffff;
}
.citrusAdSEBPO__faq_cta button:hover{
  background-color: #ffffff;
  color: #00205B;
}
/* faq section e */

/* product banner section s */
.citrusAdSEBPO__productBanner_area{
  width: 1440px;
  margin: 20px auto;
  padding: 20px 0px;
  max-width: 100%;
  background-color: #1F52A0;
}
.citrusAdSEBPO__productBanner_content{
  text-align: center;
}
.citrusAdSEBPO__productBanner_content-col{
  width: 50%;
}
.citrusAdSEBPO__productBanner-productImg{
  max-width: 100%;
  padding: 30px 20px 20px 20px;
}
.citrusAdSEBPO__productBanner_content-title{
  font-family: "PetcoCircularTT-Bold", arial !important;
  color: #ffffff;
  cursor: pointer;
  padding: 20px 20px 10px 20px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  margin: 0px;
}
.citrusAdSEBPO__productBanner_content-subtitle{
  font-family: "PetcoCircularTT-Regular", arial !important;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  cursor: pointer;
  padding: 10px 20px 20px 20px;
}
/* product banner section s */


/* ========= responsive style =========== */
@media (min-width: 768px) and (max-width: 1400px) {
  .citrusAdSEBPO__pov
    .citrusAdSEBPO__pov-carousel
    .citrusAdSEBPO__pov-carousel__inner--item
    .content-wrapper__pov-img .img{
    object-fit: cover;
    min-height: 240px;
  }
  .citrusAdSEBPO__explore .citrusAdSEBPO__explore--content {
    overflow-x: auto;
  }
}
@media (max-width: 1150px) {
  .citrusAdSEBPO__pov 
  .citrusAdSEBPO__pov-carousel 
  .citrusAdSEBPO__pov-carousel__inner--item 
  .content-wrapper{
    min-height: 300px;
  }
  .citrusAdSEBPO__pov 
  .citrusAdSEBPO__pov-carousel 
  .citrusAdSEBPO__pov-carousel__inner--item 
  .content-wrapper__logo img{
    max-width: 100px;
  }
  .citrusAdSEBPO__pov 
  .citrusAdSEBPO__pov-carousel 
  .citrusAdSEBPO__pov-carousel__inner--item 
  .content-wrapper__title h1{
    font-size: 20px;
  }
  .citrusAdSEBPO__pov 
  .citrusAdSEBPO__pov-carousel 
  .citrusAdSEBPO__pov-carousel__inner--item 
  .content-wrapper__sub-title p{
    font-size: 16px;
  }
  .citrusAdSEBPO__pov 
  .citrusAdSEBPO__pov-carousel 
  .citrusAdSEBPO__pov-carousel__inner--item 
  .content-wrapper__cta a{
    padding: 10px 25px 10px 25px;
  }

  /* CTA Banner one (max-1150px) s */
  .citrusAdSEBPO__ctaBanner--content_text-title h2{
    font-size: 20px;
  }

  /* Product Banner max-1024px s */
  .citrusAdSEBPO__productBanner-productImg{
    max-width: 80%;
    padding: 0px;
  }
}
@media (max-width: 1024px) {
  .content-wrapper__pov-content--all{
    padding: 15px 10px;
  }
  .content-wrapper__pov-content--middle{
    padding-left: 20px;
  }
  .citrusAdSEBPO__pov 
  .citrusAdSEBPO__pov-carousel 
  .citrusAdSEBPO__pov-carousel__inner--item 
  .content-wrapper__logo img{
    max-width: 70px;
  }
  .citrusAdSEBPO__pov 
  .citrusAdSEBPO__pov-carousel 
  .citrusAdSEBPO__pov-carousel__inner--item 
  .content-wrapper__title h1{
    font-size: 18px;
  }
  .citrusAdSEBPO__pov 
  .citrusAdSEBPO__pov-carousel 
  .citrusAdSEBPO__pov-carousel__inner--item 
  .content-wrapper__sub-title p{
    font-size: 16px;
  }
  .citrusAdSEBPO__pov 
  .citrusAdSEBPO__pov-carousel 
  .citrusAdSEBPO__pov-carousel__inner--item 
  .content-wrapper__cta a{
    padding: 6px 15px 5px 15px;
    margin: 0px 10px;
  }

  /* cta banner max-1024px s */
  .citrusAdSEBPO__commonCTA button{
    padding: 12px 20px 10px;
  }
  .citrusAdSEBPO__ctaBanner--content_text-title h2{
    font-size: 16px;
  }
  .citrusAdSEBPO__ctaBanner--content_text-subtitle{
    font-size: 16px;
  }

  /* Productbanner max-1024px s */
  .citrusAdSEBPO__productBanner-productImg{
    max-width: 80%;
  }
}
@media (max-width: 767px) {
    /* Show hide class */
    .m-hide{
        display: none;
    }
    .d-hide{
        display: block;
    }
    /* Hero POV */
    .citrusAdSEBPO__pov
    .citrusAdSEBPO__pov-carousel
    .citrusAdSEBPO__pov-carousel__inner--item
    .content-wrapper__title
    sup {
      font-size: 14px;
    }

    /* Explore Section */
    .citrusAdSEBPO__explore .content-wrapper a {
        min-width: 50%;
    }

    /* Product Scroller */
    .citrusAdSEBPO .splide__arrow{
        display: none;
    }
    .citrusAdSEBPO__Product {
        min-width: 56%;
    }
    .citrusAdSEBPOTabTypeId{
      max-width: 100%;
      overflow-x: scroll;
    }
    .citrusAdSEBPO__tab_type_item {
      min-width: 140px;
    }
    .citrusAdSEBPOTabTypeId{
      justify-content: flex-start!important;
    }
    /* Transition Section */
    .citrusAdSEBPO__transition-pet-main-flex{
        display: flex;
        flex-wrap: wrap;
    }
    .citrusAdSEBPO__transition-pet-main-flex .transition-pet-right{
        padding: 30px 0;
    }
    .citrusAdSEBPO .transition-number{
        display: block;
    }
    .citrusAdSEBPO .transition-number>span{
        width: 32px;
        display: block;
    }

    /* Benefits Section */
    .citrusAdSEBPO .citrusAdSEBPO_banefits__wrapper--single-item {
        padding: 0 15px;
        min-width: 50%;
    }
    .citrusAdSEBPO .citrusAdSEBPO_banefits .cta-box a{
        text-transform: capitalize;
        background: transparent;
        color: #001952;
        border: none;
        text-decoration: underline;
    }
    .citrusAdSEBPO .citrusAdSEBPO_banefits .cta-box a:hover {
        background: transparent;
        color: #001952;
        transition: none;
    }

  /* pov */
  .citrusAdSEBPO__pov 
  .citrusAdSEBPO__pov-carousel 
  .citrusAdSEBPO__pov-carousel__inner--item 
  .content-wrapper{
    justify-content: center;
  }
  .citrusAdSEBPO__pov {
    display: grid;
  }
  .citrusAdSEBPO__pov
  .citrusAdSEBPO__pov-carousel
  .citrusAdSEBPO__pov-carousel__inner--item
  .content-wrapper {
    min-height: 800px;
  }
  .content-wrapper__pov-content--all{
    padding: 100px 20px;
  }
  .citrusAdSEBPO__pov
    .citrusAdSEBPO__pov-carousel
    .citrusAdSEBPO__pov-carousel__inner--item
    .content-wrapper__pov-img
    img {
    width: 100vw;
  }
  .content-wrapper__pov-content--middle{
    padding: 0px;
  }

  .citrusAdSEBPO__pov 
  .citrusAdSEBPO__pov-carousel 
  .citrusAdSEBPO__pov-carousel__inner--item 
  .content-wrapper{
    text-align: center;
  }
  .citrusAdSEBPO__pov
    .citrusAdSEBPO__pov-carousel
    .citrusAdSEBPO__pov-carousel__inner--item
    .content-wrapper__logo {
    padding: 45px 0 10px;
  }
  .citrusAdSEBPO__pov
    .citrusAdSEBPO__pov-carousel
    .citrusAdSEBPO__pov-carousel__inner--item
    .content-wrapper__logo
    img {
    max-width: 166px;
  }
  .citrusAdSEBPO__pov 
  .citrusAdSEBPO__pov-carousel 
  .citrusAdSEBPO__pov-carousel__inner--item 
  .content-wrapper__title h1{
    font-size: 23px;
  }
  .citrusAdSEBPO__pov-carousel__inner .content-wrapper__sub-title {
    font-size: 16px;
    padding: 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .citrusAdSEBPO__pov
    .citrusAdSEBPO__pov-carousel
    .citrusAdSEBPO__pov-carousel__inner--item
    .content-wrapper__cta {
      width: 100%!important;
    display: flex;
    flex-direction: column;
    width: max-content;
  }
  .citrusAdSEBPO__pov
    .citrusAdSEBPO__pov-carousel
    .citrusAdSEBPO__pov-carousel__inner--item
    .content-wrapper__cta
    a {
    padding: 6px 37px;
    background: unset;
    color: #ffffff;
    text-transform: capitalize;
    text-decoration: underline;
  }
  .content-wrapper__cta a:first-child{
    margin: initial!important;
  }
  .citrusAdSEBPO__explore .citrusAdSEBPO__explore--content {
    overflow-x: auto;
  }

  /* common cta max-767 */
  .citrusAdSEBPO__commonCTA button{
    background: unset;
    text-transform: capitalize;
    text-decoration: underline;
    color: #ffffff;
    font-weight: bold;
  }
  /* common cta max-767 */

  /* FAQ max-767px */
  .citrusAdSEBPO__faq_content {
    flex-direction: column;
    padding: 2%;
  }
  .citrusAdSEBPO__faq_content-left{
    max-width: 100%;
    overflow-x: scroll;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .citrusAdSEBPO__faq_content-left-col {
    margin: 5px 10px;
  }
  .citrusAdSEBPO__faq_cta button{
    border: none;
    color: #001952;
  }
  .citrusAdSEBPO__faq_accordion-btn{
    font-size: 16px;
  }
  .citrusAdSEBPO__faq_content-right{
    max-width: 90%;
  }
  /* FAQ max-767px e */

  /* Product Banner max-767px */
  .citrusAdSEBPO__productBanner_content-col{
    padding: 5% 0px;
    width: 100%;
  }
  .citrusAdSEBPO__productBanner_content{
    flex-direction: column-reverse;
  }
  .citrusAdSEBPO__productBanner-productImg{
    max-width: 80%;    
  }
  .citrusAdSEBPO__productBanner_content-title{
    font-size: 16px;
  }
  .citrusAdSEBPO__productBanner_content-subtitle{
    font-size: 14px;
  }
  /* Product Banner max-767px e */
}
@media (max-width: 690px) {
  .citrusAdSEBPO__pov
    .citrusAdSEBPO__pov-carousel
    .citrusAdSEBPO__pov-carousel__inner--item
    .content-wrapper {
    min-height: 730px;
  }
  .content-wrapper__pov-content--all{
    padding: 80px 20px;
  }
}
@media (max-width: 575px) {
  .citrusAdSEBPO__pov
    .citrusAdSEBPO__pov-carousel
    .citrusAdSEBPO__pov-carousel__inner--item
    .content-wrapper {
    min-height: 650px;
  }
  .content-wrapper__pov-content--all{
    padding: 50px;
  }

  /* cta banner max-575px s */
  .citrusAdSEBPO__ctaBanner--content{
    flex-direction: column-reverse;
  }
  .citrusAdSEBPO__ctaBanner--content .col{
    width: 100%;
  }
  .citrusAdSEBPO__ctaBanner--content_img img {
    width: 100%;
  }
  .citrusAdSEBPO__ctaBanner--content_text{
    padding: 25% 0px
  }
}
@media (max-width: 500px) {
  .citrusAdSEBPO__pov
    .citrusAdSEBPO__pov-carousel
    .citrusAdSEBPO__pov-carousel__inner--item
    .content-wrapper {
    min-height: 600px;
  }
  .content-wrapper__pov-content--all{
    padding: 30px;
  }
}

@media (max-width: 450px) {
  .citrusAdSEBPO__pov 
  .citrusAdSEBPO__pov-carousel 
  .citrusAdSEBPO__pov-carousel__inner--item 
  .content-wrapper__sub-title p{
    margin: 10px;
    font-size: 17px;
  }
  .citrusAdSEBPO__pov
    .citrusAdSEBPO__pov-carousel
    .citrusAdSEBPO__pov-carousel__inner--item
    .content-wrapper {
    min-height: 500px;
  }
  .content-wrapper__pov-content--all{
    padding: 10px;
  }
  /* faq max-450px s */
  .citrusAdSEBPO__faq_content-left-col img{
    min-width: 210px;
  }
}

@media (max-width: 360px) {
  .citrusAdSEBPO__pov 
  .citrusAdSEBPO__pov-carousel 
  .citrusAdSEBPO__pov-carousel__inner--item 
  .content-wrapper__title h1{
    font-size: 20px;
  }
  .citrusAdSEBPO__pov 
  .citrusAdSEBPO__pov-carousel 
  .citrusAdSEBPO__pov-carousel__inner--item 
  .content-wrapper__sub-title p{
    margin: 10px;
    font-size: 17px;
  }
  .citrusAdSEBPO__pov
    .citrusAdSEBPO__pov-carousel
    .citrusAdSEBPO__pov-carousel__inner--item
    .content-wrapper {
    min-height: 450px;
  }
}

@media (max-width: 320px) {
  .citrusAdSEBPO__pov 
  .citrusAdSEBPO__pov-carousel 
  .citrusAdSEBPO__pov-carousel__inner--item 
  .content-wrapper__title h1{
    font-size: 19px;
  }
  .citrusAdSEBPO__pov 
  .citrusAdSEBPO__pov-carousel 
  .citrusAdSEBPO__pov-carousel__inner--item 
  .content-wrapper__sub-title p{
    margin: 10px;
    font-size: 16px;
  }
  .citrusAdSEBPO__pov
    .citrusAdSEBPO__pov-carousel
    .citrusAdSEBPO__pov-carousel__inner--item
    .content-wrapper {
    min-height: 420px;
  }
}








